body {
  background-image: url("mcu-perso.jpg");
  background-size: cover;
  background-position: center;
}

.Navigation {
  position: sticky;
  top: 0;
}

.liste_film {
  margin-left: 7%;
  margin-right: 7%;
}
